/* Global Css  */
*{
    font-family: 'Poppins', sans-serif;
}

/* Custom CSS  */

header{
    background: url(../img/hero-area.jpg)no-repeat;
    background-size: cover;
}
.navbar{
    background-color: transparent!important;
}
.navbar-brand{   
     font-size: 30px;
    font-weight: 700;
}
.nav-link{
    font-weight: 500;
}
.dot{
    color: #EFAB18;
}
header .row {
    padding: 175px 0;
}
header h1 {
    font-weight: 600;
}
header h6 {
    font-size: 12px;
    font-weight: 400;
    padding-top: 20px;
}

/* Services Section  */

.services-section{
    padding: 90px 0;
}
.services-section h3 {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 600;
}
.services-section p {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

/* Grid Section  */

.grid-section{
    padding: 90px 0;
    background-color: #F6F6F6;
}
.grid-section span{
    color: #EFAB18;
}
.border{
    border-bottom: 2px solid black;
}
.grid-section .col-md-6
{padding-left: 20px;
}
.grid-section h3 {
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 30px;
    line-height: 40px;
    word-spacing: 4px;
}
.grid-section h4 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 13px;
    position: relative;
}
.grid-section h4::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    position: absolute;
    left: -49px;
    top: 10px;
}
.grid-section h4 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 13px;
}

/* Project Section  */

.project-section{
    background-color: #D6DFEE;
}
.project-section .col-md-4{
    padding: 0;
}

/* Testimonial Section  */

.testimonial-section{
    padding: 90px 0;
}
.testimonial-section span {
    position: absolute;
    font-size: 259px;
    top: -41%;
    font-family: monospace;
    left: 40%;
    opacity: 0.1;
}
.testimonial-section h2{
    padding-top: 20px;
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 70px;
}
.testimonial-section i {
    color: #FFD31F;
    font-size: 13px;
}
.testimonial-section p {
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
.face {
    width: 65px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.testimonial-section h5 {
    font-size: 16px;
    font-weight: 700;
}
.testimonial-section h6 {
    font-size: 13px;
    font-weight: 400;
    color: #A9A9A9;
    margin-bottom: 100px;
}


/* Contact Section  */

.contact-section{
    padding: 90px 0;
    background-color: #F6F6F6;
}
.contact-section span{
    color: #EFAB18;
}
.contact-section h2 {
    font-size: 26px;
    padding-bottom: 20px;
    font-weight: 600;
}
.contact-section h6 {
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 20px;
    font-weight: 400;
}
.contact-section input {
    font-size: 10px;
    border: none;
    padding: 18px 100px 18px 12px;
    margin-right: 10px;
}
.contact-section textarea {
    margin-top: 15px;
    padding: 18px 615px 18px 12px;
    border: none;
    font-size: 10px;
    margin-right: 10px;
}
.contact-section button {
    margin-top: 30px;
    border: none;
    background-color: #FFAD01;
    color: #FFFBCD;
    padding: 10px 100px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
}
.contact-section button:hover{
    transform: scale(1.03);
}

/* Footer Section  */

footer{ 
    padding: 25px 0;
    background-color: #1E1E1E;
}
footer h6{
    font-size: 10px;
    color: #C4C4C4;
}
footer i{
    font-size: 10px;
    color: #C4C4C4;
    margin-right: 10px;
}



















/* Responsive Media Queries  */

/* For Mobile Device  */
@media(min-width: 320px) and (max-width: 576px){
    header h1 {
        font-weight: 600;
        font-size: 30px;
    }
    header .row {
        padding: 80px 0;
        text-align: center;
    }
    .contact-section textarea {
        padding: 18px 120px 18px 12px;
    }

    .services-section{
        text-align: center;
        padding: 25px 0;
    }

    .grid-section{
        padding: 25px 0;
    }

    .grid-section h3{
        text-align: center;
    }

    .grid-section h4{
        position: relative;
        margin-left: 40px;
    }
    .grid-section h4::before {
        position: absolute;
        left: -43px;
        top: 10px;
    }

    .testimonial-section{
        padding: 35px 0;
    }

    .testimonial-section span {
        position: absolute;
        font-size: 259px;
        top: -32%;
        font-family: monospace;
        left: 32%;
        opacity: 0.1;
    }


    .testimonial-section h2 {
        padding-bottom: 40px;
    }

    .testimonial-section h6 {
        margin-bottom: 40px;
    }


    .contact-section{
        padding: 35px 0;
    }
    .testimonial-section h6 {
        margin-bottom: 40px;
    }
    .contact-section input{
        margin-bottom: 10px;
    }
    .contact-section button {
        margin-top: 18px;
        padding: 10px 22px;
        font-size: 10px;
        letter-spacing: 1px;
    }
    footer{
        text-align: center;
    }



}

/* For Small Devices  */
@media(min-width: 576.01px) and (max-width: 768px){

}

/* For Medium Devices  */
@media(min-width: 768.01px) and (max-width: 992px){

}

/* For Desktop/Laptop Devices  */
@media(min-width: 992.01px) and (max-width: 1200px){

}

/* For Extra Large Devices  */
@media(min-width: 1200px){

}